/* exsample ------------------------------------------ */
/* ------------------------------------------------- */


/* body ------------------------------------------ */
body {
    font-family: 'Niramit', sans-serif;
}

h1 {
    color: white;
    font-size: 30px;
    width: 100%;
    margin: 20px 20px 20px 20px;
}

/* ----------------------------------------------- */
/* header ------------------------------------------ */

header {
    background: #2FABD2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

/* ------------------------------------------------- */

section {
    width: 100%;
    height: 100vh;
}

/* section1 ------------------------------------------ */

.slide1-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.slide1-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10%;
}

#slide1-title {
    font-size: 150px;
    margin: 10px 10px 10px 10px;
}

#slide1-parag {
    font-size: 50px;
}

.slide1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/* ------------------------------------------------- */
/* section2 ------------------------------------------ */
.slide2-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0%;
    width: 100%;
    height: 100vh;
}

.slide2-description {
    font-size: 35px;
    margin: 0px 0px 30px 30px;
}

/* --------------------------------------------------- */
/* section3 ------------------------------------------ */
.slide3-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0%;
    width: 100%;
    height: 100vh;
}

.slide3-description {
    font-size: 23px;
    margin: 10px 0 0 30px;
}

.slide3-inner-img1 {
    width: 60%;
    height: 70%;
    margin: auto;
}

.slide3-img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.slide3-img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.slide3-img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -3%;
}

span {
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.slide3-childarea1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 0;
}

.slide3-childarea2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.slide3-childarea3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* --------------------------------------------------- */
/* section4 ------------------------------------------ */
.slide4-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0%;
    width: 100%;
    height: 100vh;
}

.slide4-ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 70px;
    font-size: 30px;
}

#slide4-parag {
    display: none;
    font-size: 30px;
    color: red;
    font-weight: bolder;
}

/* --------------------------------------------------- */
/* section5 ------------------------------------------ */
.slide5-childarea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.slide5-screen1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide5-screen2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.slide5-img1 {
    width: 70%;
    height: 500px;
}

.slide5-img2 {
    width: 130%;
    height: 500px;
}

.slide5-code {
    margin-left: 20px;
}

.slide5-parag {
    font-size: 20px;
}

/* --------------------------------------------------- */
/* section6 ------------------------------------------ */
.slide6-childarea {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
    margin: 50px 0px 50px 0px;

}

/* --------------------------------------------------- */
/* section6 ------------------------------------------ */
table {
    table-layout: fixed;
    width: 80px;
    text-align: center;
}

tr {
    white-space: nowrap;
    overflow: hidden;
    width: 10%;
}

input {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
}

/* --------------------------------------------------- */
/* section7 ------------------------------------------ */
/* --------------------------------------------------- */
/* section8 ------------------------------------------ */
.slide8-childarea {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slide8-screen1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.slide8-screen2 {
    margin-left: 20px;
}

.slide8-img {
    width: 10%;
}

.slide8-parag {
    font-size: 30px;
}

/* --------------------------------------------------- */
/* section9 ------------------------------------------ */
.slide9-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0%;
    width: 100%;
    height: 100vh;
}

.slide9-ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    font-size: 27px;
}

/* --------------------------------------------------- */
/* section10 ------------------------------------------ */
.slide10-description {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    display: none;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-weight: bolder;
    font-size: 47px;
    white-space: pre-line;
}
